{% extends "main.html" %}

{% block content %}
<div class="columns is-mobile">
    <div class="column is-one-third is-block has-border-right">
        <div class="block is-2 m-2">
            <div class="container" id="page-total">
                <h3  class="has-text-success title is-5 is-hidden-tablet" id="total">{{total}} Blogs</h3>
                <h3  class="has-text-success title is-1 is-hidden-mobile" id="total-mobile">{{total}} Blogs</h3>

            </div>
                <button 
                class="button is-primary is-small"
                hx-trigger='click'
                hx-target='#snippets'
                hx-swap='afterbegin'
                hx-post='/api/posts/'
                >New Story
            </button>
        </div>
        
        <hr class="is-small">
            <div id='snippets' class="m-2">
                <div id="post--1" class="post-preview-container">
                    {% for post in posts %}
                        {% include 'components/snippet.html' %}        
                    {% endfor %}
                </div>
            </div>
        
    </div>

    <div class="column">
        <div class="content" id="page-container">
           
        </div>
    </div>

</div>
{% endblock %}


