<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type='text/css' href="{% static 'styles/main.css' %}">
    {% load django_simple_bulma %}
    {% bulma %}
    {% font_awesome %}
    <script src="{% static 'js/htmx.min.js' %}"></script>

</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
            {% block content %}
            
            {% endblock %}

</body>

</html>