<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type='text/css' href="{% static 'styles/main.css' %}">
    {% load django_simple_bulma %}
    {% comment %} {% load django_htmx %} {% endcomment %}
    {% bulma %}
    {% font_awesome %}    
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>

</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
            {% block content %}
            
            {% endblock %}

</body>

</html>